<template bindable="author, submitComment">

  <require from="./comment/comment-header.html"></require>

  <div class="row">

    <div class="col-auto"></div>

    <div class="col">

      <div class="card">
        <comment-header class="card-header py-1"
                        author.bind="author"
                        time="2h">
        </comment-header>

        <div class="card-body">
          <form submit.trigger="submitComment({event: $event, content: content})">
            <textarea class="form-control"
                      placeholder="Write a comment."
                      value.bind="content"
                      required></textarea>
            <button class="btn btn-block btn-primary mt-1"
                    type="submit">Send</button>
          </form>

        </div>

      </div>
    </div>
  </div>


</template>