<template bindable="tweet">

  <require from="./../tweet-view"></require>

  <div class="modal fade"
       id="retweet-modal"
       tabindex="-1"
       role="dialog">
    <div class="modal-dialog modal-dialog-centered"
         role="document">

      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title"
              id="retweet-modal-title">Retweet</h5>

          <button type="button"
                  class="close"
                  data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <tweet-view tweet.bind="tweet"></tweet-view>
        </div>

        <div class="modal-footer">
          <button type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal">Close</button>
          <button type="button"
                  class="btn btn-primary">Retweet</button>
        </div>

      </div>
    </div>
  </div>

</template>