<template bindable="commentClicked, retweetClicked">

    <require from="../../../../resources/elements/image-button.html"></require>
    <require from="./retweet-modal.html"></require>

    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <div class="row justify-content-end px-4">
                <image-button id="comment-button"
                              image="https://img.icons8.com/windows/32/000000/send-comment.png"
                              click.delegate="commentClicked($event)">
                </image-button>
                <image-button id="retweet-button"
                              data-toggle="modal"
                              data-target="#retweet-modal"
                              click.delegate="retweetClicked({ event: $event, data: $parent })"
                              image="https://img.icons8.com/windows/32/000000/retweet.png">
                </image-button>
                <image-button id="like-button"
                              style="padding: 2px;"
                              image="https://img.icons8.com/material-outlined/30/000000/like.png">
                </image-button>
            </div>
        </div>
    </div>

    <retweet-modal>

</template>