<template>

    <require from="../../../../resources/elements/image-button.html"></require>

    <div class="row">
        <div class="col">
            <image-button
                          image="https://img.icons8.com/windows/32/000000/send-comment.png">
            </image-button>
            <image-button
                          image="https://img.icons8.com/windows/32/000000/retweet.png">
            </image-button>
            <image-button
                          image="https://img.icons8.com/android/24/000000/like.png">
            </image-button>
        </div>
    </div>

</template>