<template bindable="fullname, handle, time">

    <style>
        .tweet-profile-picture {
            height: 50px;
            min-height: 50px;
            width: 50px;
            min-width: 50px;
        }
        
    </style>

    <div class="row">

        <div class="col-sm-2">
            <img class="img-fluid rounded-circle tweet-profile-picture"
                 src="../../../../static/profile.png">
        </div>

        <div class="col">
            <span class="header-text">${fullname}</span>
        </div>
        <div class="col">
            <span class="header-text text-muted">${handle}</span>
        </div>
        <div class="col">
            <span class="header-text text-muted">${time}</span>
        </div>
    </div>

</template>