<template>

    <require from="../../../../resources/value-converters/ObjectEntriesValueConverter"></require>

    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col">KEY</th>
                <th scope="col">VALUE</th>
            </tr>
        </thead>
        
        <tbody>
            <tr repeat.for="entry of barcode | objectEntries">
                <th scope="row">${entry[0]}</th>
                <td>${entry[1]}</td>
            </tr>
        </tbody>
        
    </table>
    
    <p repeat.for="[k, v] of map">${k}, ${v}</p>
    
</template>